// Mixins in here

.custom-button(@bg-color, @size, @color){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @bg-color;
    cursor: pointer;
    width: @size;
    height: 45px;
    font-size: 1.8rem;
    border-radius: 15px;
    color:@color;
    
    &:hover{
      background-color: @color;
      color: @bg-color;
      border: 2px solid @bg-color;
    }
    @media @phone {
        width: 95%;
    }
  }

  .zoom-animation(@duration) {
    animation-duration: @duration;
    animation-name: zoomIn;
  }